body {
    background-color:rgb(61, 207, 230);
  

}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;

}
p {
    border: 2px solid rgb(255, 255, 255);
  }

a {
    font-size: 100px;
    border: 10px solid rgb(255, 255, 255);
}